<!DOCTYPE html>
<html>
<head>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv=Content-Type content="text/html;charset=utf-8">
<meta property="wb:webmaster" content="e635a420782119b7" />
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
<meta name="keywords" content="百度未来商店，智能手表，智能手环，智能家居，可穿戴设备，智能硬件，智能设备，智能硬件试用，百度硬件，硬件资讯，硬件评测">
<meta name="description" content="百度未来商店作为行业内首个基于生活需求和场景的智能硬件信息互动平台，秉承“科技改变生活”的理念，通过智能硬件提升人们在运动、睡眠、生活、出行、娱乐等方面的品质，让用户更有效的关爱自身健康和家庭生活，让科技真正融入到老百姓的生活中。平台将围绕可穿戴、智能家居、安全出行等几大领域，提供最前沿、最时尚、最实用、最专业的硬件产品介绍、服务定制、最新资讯、圈子交流等服务，打造行业最专业的智能硬件信息互动平台。">
<!--[if lte IE 7]>
<div class="goodbye-modal hide"></div>
<div class="goodbye-ie hide" id="goodbyeIE">
<p>您的浏览器太旧啦~为了获得更好的体验，强烈建议您使用以下浏览器：</p>
<ul class="browers clearfix">
<li class="chrome">
<a target="_blank" href="https://www.google.com/intl/en/chrome/browser/"></a>
<span>chrome</span>
</li>
<li class="firefox">
<a target="_blank" href="http://www.firefox.com.cn/download/"></a>
<span>firefox</span>
</li>
<li class="ie9">
<a target="_blank" href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie"></a>
<span>IE9+</span>
</li>
</ul>
<p class="no-tip"><a id="iknow" href="javascript:void(0);">知道啦</a></p>
</div>
<![endif]-->
<link rel="icon" href="/static/common/favicon.ico" type="image/x-icon">
<link rel="shorticon icon" href="/static/common/favicon.ico" type="image/x-icon">
<meta property="wb:webmaster" content="18de27f07b76316f" />
<meta name="baidu-tc-cerfication" content="a7fc1bfc58a8b04c738569e2d3c418dc" />
<meta name="baidu-site-verification" content="OZIMDr2iVS" />
<script type="text/javascript">
        window.duin = window.duin || {};
        duin.userinfo = {
            islogin:'0',
            displayname: "",
            role: "0",
            avatar: "" //头像
        };
        duin.csrf_token = '0';
        window.login_wrapper_url = 'http://passport.baidu.com/passApi/js/uni_login_wrapper.js?cdnversion=201604202347';
        var _hmt = _hmt || [];
        _hmt.push(['_setAccount', '3d1ae725881ab60e9d4d62efe134498c']);
        </script>
<title>百度未来商店-再大的超市也不怕 找到商品秒秒钟</title>


<link rel="stylesheet" type="text/css" href="http://static.store.baidu.com/static/common/pkg/common_4a05f0a.css"/><link rel="stylesheet" type="text/css" href="http://static.store.baidu.com/static/common/fontAwesome/awesome_02bd37b.css"/><link rel="stylesheet" type="text/css" href="http://static.store.baidu.com/static/discovery/pkg/article_4c7b41a.css"/></head>
<body>
<!--[if IE 8]>
<script type="text/javascript">
        document.body.className = '_duin-body-ie8';
        </script>
<![endif]-->

<script>
    window.hostType = "";
    window.hostId = "6136";
</script>

<div class="nav-wrapper">
<div class="nav clearfix">
<a href="/" class="nav-logo"></a>
<div class="nav-func">
<div class="nav-search-wrapper">
<div class="nav-search-recommend"></div>
<div class="nav-search">
<form action="/search/index" id="searchForm" method="POST">
<input type="hidden" name="pn" value="1">
<input type="hidden" name="limit" value="12">
<input type="text" class="nav-search-input" autocomplete="off" name="scontent" value="">
<span class="nav-search-icon"></span>
</form>
</div>
</div>
<div class="nav-fr">
<div class="nav-user">
<a href="#" class="nav-login">登录</a>
</div>
<span class="page-show">
<span class="nav-split"></span>
<a class="nav-my-order" href="/ucenter/#order">我的订单</a>
<span class="nav-split"></span>
<a class="nav-sale-cart" href="/ucenter/#cart">购物车</a>
</span>
</div>
</div>
</div>
<div class="nav-bars">
<ul class="nav-bar clearfix">
<li><a href="/">首页</a></li>
<li><a href="/list">全部商品</a></li>
<li class="active"><a href="/ramble">漫游<i class="nav-sup nav-sup-new"></i></a></li>
<li><a href="/trysome/list">试用</a></li>
<li><a href="/evaluation/videohome">视频</a></li>
</ul>
</div>
</div>

<div class="d-main">
<div class="author hide">
<div class="author-wrapper">
<div class="author-info clearfix">
<div class="avatar">
<img src="http://static.store.baidu.com/static/discovery/images/avatar_logo_b8c3d5d.png" />
</div>
<div class="name">百度未来商店</div>
</div>
<ul class="latest-articles">
</ul>
</div>
</div>
<div class="article-content">
<div class="content-wrapper">
<h1>再大的超市也不怕 找到商品秒秒钟</h1>
<div class="action-bar">
<span class="avatar">
<img src="http://bs.baidu.com/dulife/56315f22f1d64.png" />
</span>
<span class="name">
cnbeta
</span>
<span class="article-time">2016-04-20 07:40:31</span>
<span class="like-btn"><i class="fa fa-heart"></i><em class="like-count">1</em></span>
<span class="comment-btn"><i class="new-comment-icon"></i><em class="comment-count">1</em></span>
</div>
<div class="intro"><i class="intro-decoration"></i>这台基于Segway打造的Space Genius可以在一个小时不到的时间内完成对大型超市所有商品及其二维码的扫描工作。</div>
<div class="content"><p>  如果你是一位不怎么逛超市的人，那么想要在短时间内找到所有自己想要购买的商品并不是一件容易的事儿。这也正是来自多伦多的4D Retail Technology Corp.研发出能够清点库存的4D Space Genius机器人的原因所在。这台基于Segway打造的Space Genius可以在一个小时不到的时间内完成对大型超市（3995平方米左右）所有商品及其二维码的扫描工作。</p>
<p><img src="http://bs.baidu.com/dulife/5716c17669977.jpg"></p>
<p>  之后，它就能生成一套交互式3D商品地图，消费者能用配套软件在手机上快速检索出目标商品所在的位置。</p>
<p><img src="http://bs.baidu.com/dulife/5716c17667e1e.jpg"></p>
<p>  除了扫描，Space Genius还会做一些诸如显示库存不足、价格标签缺失、重复条目等问题的反馈工作。这样商家就能以最快的速度解决掉这些问题。</p></div>
<div class="article-copyright">本站内容，未经许可禁止任何形式转载。文章版权归原作者所有，如无意中侵犯了您的版权，请及时与本站联系。</div>
<div class="icon-box clearfix">
<div class="article-icon like-icon"></div>
<div class="article-icon share-icon">
<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"><i></i>分享</a></div>
</div>
</div>
</div>
</div>
<div class="article-part">
<div class="article-comment">
<div class="label">讨论区 (<i class="comment-count"></i>)</div>
<form action="/api/comment/add" method="POST " class="ct-form" name="ct-form" data-hostid="6136" data-committype="" data-hosttype="1">
<div class="clearfix"><textarea name="comment" aria-required="true" placeholder="同学，你怎么看?"></textarea></div>
<div class="ct-submit">
<span class="ct-count"><span class="prefix">还能输入</span>&nbsp;<strong class="ct-limit">150</strong>&nbsp;个字</span><button type="submit" class="btn btn-primary">提交</button>
</div>
</form>
<ul class="ct-list" id="ct-list-full">
<li class="empty hide">还木有评论哦，快来抢沙发吧~~</li>
</ul>
<div id="ct-page"></div>
<script type="text/template" id="ct-tpl">
<% $.each(list, function(idx, item) { %>
  <li class="clearfix">
    <div class="avatar"><img src="<%- item.user_icon %>" class="" title="<%- item.user_name %>"></div>
    <div class="cont">
      <div class="ut">
        <span class="uname text-overflow <% if (parseInt(item.type, 10) === 1) { %> official<% } %>"><%- parseInt(item.type, 10) === 0 ? item.user_name : '百度未来商店' %></span><span class="date"><%- item.create_time %></span>
      </div>
      <%if(parseInt(item.parent_id, 10)) { %>
        <div class="quote">
          <%if(item.parent) { %>
              <div class="uname">@&nbsp;<span><%- item.parent.user_name %></span></div>
              <div class="qct"><%- item.parent.content %></div>
          <%}else{ %>
                <div class="qct">该评论已被删除</div>
          <% } %>
        </div>
      <% } %>
      <div class="ct"><%- item.content %></div>
      <% if(parseInt(item.type, 10) === 0) { %>
      <div class="tb"><a href="#" data-pid="<%- item.id %>">回复</a></div>
      <% } %>
    </div>
  </li>
<% }); %>
</script>
</div>
</div>
</div>
<script type="text/template" id="deviceCard">
    <div class="device-card">
        <div class="base-info clearfix">
            <div class="device-img"><img src="<%=obj.img%>" /></div>
            <div class="device-name text-overflow"><%=obj.name%></div>

            <% if ( !!obj.price ) { %>
            <div class="device-price">￥&nbsp;<%=obj.price%></div>
            <% } %>

            <div class="device-intro"><%=obj.summary%></div>

            <% if ( !!obj.product_id ) { %>
                <a class="detail-btn" href="/product/view/<%=obj.product_id%>.html">未来商店有售</a>
            <% } %>
        </div>

        <div class="param-info">
            <% $.each(obj.parameter, function(index, item) { %> 
                <div class="parameter">
                    <label><%=item.key%></label>
                    <span><%=item.value%></span>
                </div>
            <% }); %>
        </div>
    </div>
</script>
<script>
    window._bd_share_config = {
        "common": {
            "bdSnsKey":{},
            "bdText":"",
            "bdMini":"1",
            "bdMiniList":["tsina","qzone","weixin","renren","tqq","douban","sqq"],
            "bdPic":"",
            "bdStyle":"0",
            "bdSize":"32",
        },
        "share":{}
    };
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=86835285.js?cdnversion='+~(-new Date()/36e5)];
</script>
<div class="footer min-width clearfix">
<div class="f-regular-out min-width">
<div class="f-regular-wrapper">
<ul class="f-regular-list clearfix">
<li class="f-ft">
严格准入标准</li>
<li class="f-second">
7天无理由退货</li>
<li class="f-third">
15天免费换货</li>
<li class="f-last">
全场包邮</li>
</ul>
</div>
</div>
<div class="f-product-info min-width clearfix">
<div class="f-product-left">
<div class="f-tel">售后客服电话：<a class="tel" tabIndex="-1" href="tel:010-58001118">010-58001118</a><span>（周一至周五9:00-18:00）</span></div>
<div class="f-info">
<div class="f-info-inner">
<span>&copy;2016Baidu</span>
<a href="http://www.baidu.com/duty/" target="_blank">使用前必读</a>
<a href="/about" target="_blank">关于我们</a>
<a href="/product/usprovision" target="_blank" id="admin-provision">服务条款</a>
<a href="javascript:void(0);" id="feedbackBtn">意见反馈</a>
<a href="/index/afspolicy" target="_blank">售后政策</a>
<a href="/product/ushome" target="_blank">合作咨询</a>
<a href="/product/uscreateProduct?product_id=" target="_blank" class="hide" id="admin-product-edit">编辑</a>
</div>
</div>
</div>
<div class="f-focus-us">
<div class="f-focus-us-txt">关注我们:</div>
<div class="f-focus-icon">
<a href="http://tieba.baidu.com/f?kw=%B0%D9%B6%C8%CE%B4%C0%B4%C9%CC%B5%EA" class="f-tieba" target="_blank"></a>
<a href="javascript:;" class="f-weixin"><img src="http://static.store.baidu.com/static/common/widget/footer/images/wx_cf694a9.jpg" height="110" width="110" alt=""></a>
<a href="http://weibo.com/u/5324801137?topnav=1&wvr=6&topsug=1" target="_blank" class="f-weibo"></a>
<img src="http://static.store.baidu.com/static/common/widget/footer/images/wap_501d170.png" height="111" width="111" alt="未来商店移动版">
</div>
</div>
</div>
</div>
<div class="backtop"></div>
<script>
        var Hunter = window.Hunter || {};
        Hunter.userConfig = Hunter.userConfig || [];
        Hunter.userConfig.push({
            hid: (function(){
                var url = document.location.href;
                if(/^http\:\/\/store\.baidu\.com\/ramble\/\d+\.html(.*)?$/.test(url)) {
                    return 71891;
                }
            })()
        });
    </script>
</body><script type="text/javascript" src="http://static.store.baidu.com/static/common/pkg/common_6fd30ed.js"></script>
<script type="text/javascript" src="http://static.store.baidu.com/static/discovery/pkg/article_aad3c48.js"></script>
<script type="text/javascript">!function(){var cookieName = 'duin_ie_tip';
if (document.cookie.indexOf(cookieName) === -1) {
  $('.goodbye-modal').show();
  $('.goodbye-ie').show();
}
$('#iknow').click(function() {
  $('.goodbye-modal').hide();
  $('.goodbye-ie').hide();
  document.cookie = cookieName + (+new Date);
});
}();
!function(){            with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://img.baidu.com/hunter/wlsd.js?st='+~(new Date()/864e5)];
        }();
!function(){    require('common:widget/nav/nav.js');
    duin.nav.searchFuc();
    var href = location.href;
    $('.nav-logout').attr('href', 'http://passport.baidu.com?logout&tpl=mco_web&u=' + href);
}();
!function(){require('common:widget/footer/footer.js');
}();
!function(){try {
  if (console && console.log) {
      //console.log('%c', 'padding:12px 59px;line-height:60px;');
      console.log('\n想挑战规模够大、协作够复杂的前端团队协作？\n' + '想寻求理念够新、自由度够高的前端成长空间？\n' + '想把前端做成极富创造力、极富成就感的一份工作？\n' + 'or 前端不仅仅是一份工作，而是你的理想和全部？\n\n' + '快到碗里来！\n' + '有些事，我们不做，就没人做了！\n' + '你不来，我们就没办法一起快乐玩耍了！\n' + '学历、年龄、性别、取向、节操通通不限，产品/代码洁癖患者优先考虑。\n');
      console.info && console.info('请将简历发送至 %c x-hr@baidu.com（ 邮件标题请以“姓名-前端-来自百度未来商店”命名）', 'color:red');
      console.info && console.info('职位介绍：http://dwz.cn/mbufe');
  }
} catch (e) {}
}();</script><div class="hide">
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?6bbfed5e172c83cc83bbc326150b1c98";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?62750d3878b2eb8fbf85ed7fda403032";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?ff8ab22619d5c266bbe6fd695fb50753";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
</div>

</html>
<!--28425569210741485578042023-->
<script> var _trace_page_logid = 2842556921; </script>